/* Improve accessibility of existing mouse over submenus */
/* Tastaturnavigation der Untermenüs ermöglichen */
#primary-menu .menu-item a:focus + .sub-menu {
  display: block !important;
  height: auto !important;
  opacity: 1 !important;
}

/* Workaround gegen defektes mobile menu icon */

.responsive-navigation .fi-list::before {
  content: "B";
  font-family: iconvault,founddation-icons,Glyphter;
  margin-right: -24px;
  margin-top: 8px;
}